@{
    ViewData["Title"] = "Product";
}

<div class="d-flex position-absolute justify-content-center align-items-center h-100 w-100">
    <h1 class="display-6 text-center">Product was not found</h1>
</div>
