@model Product[]
@{
    ViewData["Title"] = "Products";
    var managerClaim = Context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role && x.Value == "Manager");
}

@if (managerClaim is not null)
{
    <a class="nav-link text-dark" asp-controller="Product" asp-action="Product" asp-route-id="0">Create Product</a>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((value, index) => new { index, value }))
        {
            <tr class="position-relative">
                <th scope="row">@(item.index + 1)</th>
                <td>@item.value.Name<a class="row-link" asp-controller="Product" asp-action="Product" asp-route-id="@item.value.Id"></a></td>
            </tr>
        }
    </tbody>
</table>
